
<section class="dark">

  
    <h1 class="fw-800 fs-40 font-roboto" style="text-align: center">Speaker Identification</h1>
    <br><br><br><br><br><br>

        <%= form_tag 'speaker/identifySpeaker', multipart: true do %>
            <div class="row justify-content-center" >
                <div class="col-md-6 col-sm-4">
                    <p>Audio File Attachment</p>
                        <input class="custom-file-upload" type="file" id="speakerid-attachment" name="speakerid-attachment" data-btn-text="Select a File" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-4">
                    <%= button_tag(type: 'submit', class: "btn btn-danger") do %> Send File <% end %>
                </div>
            </div>
            <br>
        <% end %>
        

</section>