-# .sumple_voice
-#  = audio_tag("#{instance_eval(&RailsAdmin::Config.current_user_method).name}.wav", id: 'sample-audio', controls: "controls")

%ul.nav.nav-pills.nav-stacked= static_navigation
%ul.nav.nav-pills.nav-stacked= main_navigation
%ul.nav.nav-pills.nav-stacked= root_navigation
-# %iframe{:src => "https://open.spotify.com/embed/album/44TnXcUjTIHPBBROepl99a", width: "300", height: "380", frameborder: "0", allowtransparency: "true", allow: "encrypted-media"}
