<section class="dark">
<%= javascript_pack_tag 'Streamer' %>
<%# <%= react_component("App") %> 

<%# <%= javascript_pack_tag 'Dashboard' %>
<div id="root"></div>
<%# <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %> 
</section>