<%= javascript_pack_tag 'Streamer' %>
 <%# <%= javascript_pack_tag 'Dashboard' %>
 <%# = javascript_pack_tag "Streamer" %>
<%# <div id="root"></div> %>

<head>
</head>
<body>

    <div id="streamer"></div>

</body>